
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <div class="linkks">
        <a asp-controller="Autoland" asp-action="Currentday">CurrentData</a>
        &emsp;&emsp;
        <a asp-controller="Autoland" asp-action="PreviousDays">PreviousData</a>
        </div>
    </body>
</html>


